@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans antialiased text-gray-900 bg-gray-50 transition-colors duration-300;
  }

  .dark body {
    @apply bg-gray-900 text-gray-100;
  }
}